# Salin ke .env lalu sesuaikan. JANGAN commit .env.
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=
PGDATABASE=machine_dashboard
PORT=3000
PGDATABASE_LOOM=loom_monitor
SESSION_SECRET=ganti-dengan-string-acak-panjang
